<h1>Listing enquirymeasures</h1>

<table>
  <thead>
    <tr>
      <th>Enquiry</th>
      <th>Done</th>
      <th>Needed</th>
      <th>Responsible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enquirymeasures.each do |enquirymeasure| %>
      <tr>
        <td><%= enquirymeasure.enquiry %></td>
        <td><%= enquirymeasure.done %></td>
        <td><%= enquirymeasure.needed %></td>
        <td><%= enquirymeasure.responsible %></td>
        <td><%= link_to 'Show', enquirymeasure %></td>
        <td><%= link_to 'Edit', edit_enquirymeasure_path(enquirymeasure) %></td>
        <td><%= link_to 'Destroy', enquirymeasure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enquirymeasure', new_enquirymeasure_path %>
